<% provide(:title, "Home") %>
<h1>Home</h1>

<p>Provide some info about the project here</p>
<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
<%= link_to "Log in!", login_path, class: "btn btn-lg btn-primary" %>
