<h1>Prototyper</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Welcome to Prototyper! Click on the link below to activate your account. If you didn't create your account
yourself, change your password immediately in the settings.
</p>

<%= link_to "Activate >", edit_account_activation_url(id: @activation_token,
                                                    email: @user.email) %>
