# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: $FILL_ME
  mail_address: $FILL_ME
  mail_username: $FILL_ME
  mail_password: $FILL_ME
  bamboo_host: $FILL_ME
  bamboo_username: $FILL_ME
  bamboo_password: $FILL_ME
  bamboo_url: $FILL_ME
  bamboo_consumer: $FILL_ME
  slack_api_token: $FILL_ME
  jira_auth_endpoint: $FILL_ME
  jira_auth_token: $FILL_ME

test:
  secret_key_base: $FILL_ME
  mail_address: $FILL_ME
  mail_username: $FILL_ME
  mail_password: $FILL_ME
  bamboo_host: $FILL_ME
  bamboo_username: $FILL_ME
  bamboo_password: $FILL_ME
  bamboo_url: $FILL_ME
  bamboo_consumer: $FILL_ME
  slack_api_token: $FILL_ME
  jira_auth_endpoint: $FILL_ME
  jira_auth_token: $FILL_ME

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  mail_address: <%= ENV["MAIL_ADDRESS"] %>
  mail_username: <%= ENV["MAIL_USERNAME"] %>
  mail_password: <%= ENV["MAIL_PASSWORD"] %>
  bamboo_host: <%= ENV["BAMBOO_HOST"] %>
  bamboo_username: <%= ENV["BAMBOO_USERNAME"] %>
  bamboo_password: <%= ENV["BAMBOO_PASSWORD"] %>
  bamboo_url: https://<%= ENV["BAMBOO_HOST"] %>
  bamboo_consumer: <%= ENV["BAMBOO_CONSUMER"] %>
  slack_api_token: <%= ENV["SLACK_API_TOKEN"] %>
  jira_auth_endpoint: $FILL_ME
  jira_auth_token: $FILL_ME
