<h3>Release history</h3>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Release</th>
        <th class="hidden-xs hidden-sm">Identifier</th>
        <th class="hidden-xs hidden-sm">Created</th>
        <th>Downloads</th>
        <th>Feedback</th>
        <th>State</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render @releases %>
    </tbody>
  </table>
</div>
