<footer class="footer">
  <small>
    <a href="https://www1.in.tum.de" target="_blank">&copy; Chair for Applied Software Engineering</a> at TUM
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", 'mailto:ipraktikum.tuini01@tum.de' %></li>
      <li><%= link_to "Imprint", legal_url %></li>
    </ul>
  </nav>
</footer>
